<div th:fragment="modalChecarPrecio">
    <div class="modal fade" id="modalChecarPrecio" tabindex="-1" aria-labelledby="modalChecarPrecioLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalChecarPrecioLabel">Checar Precio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="codigoProductoChecar" class="form-label"><i class="fas fa-barcode"></i> Código del Producto</label>
                        <input type="text" class="form-control" id="codigoProductoChecar" placeholder="Ingresa el código">
                    </div>
                    <button class="btn btn-primary mb-3" onclick="buscarPrecio()">Buscar</button>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Precio Venta</th>
                                <th>Stock</th>
                            </tr>
                            </thead>
                            <tbody id="resultadoBusquedaPrecio">
                            <!-- Resultados de búsqueda -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
